<h2>Agregar mascota <mat-icon>pets</mat-icon></h2>
<form (ngSubmit)="onSubmit()" #formMascota="ngForm">
    <p>

        <mat-form-field>
            <input matInput name="nombre" [(ngModel)]="mascotaModel.nombre"
                type="text"
                placeholder="Nombre">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="raza" [(ngModel)]="mascotaModel.raza"
                type="text"
                placeholder="Raza">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="edad" [(ngModel)]="mascotaModel.edad"
                type="number"
                placeholder="Edad">
        </mat-form-field>
    </p>
    <p>
        <button type="submit" mat-flat-button color="accent">Guardar</button>
    </p>
</form>